{% extends "base.html" %}

{% block title %}Flappy Friend{% endblock %}

{% block full_screen_content %}
    
    <div id="game-wrapper">
        <div id="game-container">
            <div id="bird">
                <div class="bird-eye"></div>
                <div class="bird-beak"></div>
                <div class="bird-wing"></div>
            </div>
            </div>

        <div id="scoreDisplay">0</div>

        <div id="uiOverlay">
            <div class="glass-card">
                <h1 id="uiTitle">Flappy Friend</h1>
                <p id="uiMessage">Tap or Space to jump!</p>
                <p id="uiFinalScore" style="display: none;"></p>
                <button id="startButton" class="btn-cute">Start Game</button>
            </div>
        </div>
    </div>

{% endblock %}