<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notes Portal</title>
    <link rel="stylesheet" href="../static/style.css"> 
</head>
<body>
    <header>
        <nav>
            <a href="#">Back</a>
            <h1>Note Me</h1>
            <input type="search" name="Search" id="searchBar">
        </nav>
    </header>
    <main>
        <div class="BodyContainer">
            <h3>Create Notes</h3>
            <form action="">

            <label for="title">Title</label>
                <input type="text" name="Title" id="noteTitle">
            <label for="content">Content</label>
                <textarea name="content" id="noteContent" cols="60" rows="20"></textarea>
            <input type="submit" value="Submite">

            </form>
         </div>
        
    </main>
</body>
</html>